@model LoginViewModel

@{ViewBag.Title = "Sign In";}

@section AccountStyles {
    <link href="@Url.Content("~/accountStyles.css")" rel="stylesheet" type="text/css"/>
}

<div class="text-center div-center-height-small">
    <h2> Sign In </h2>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" class="form-signin">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control"/>
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In" />
        </div>
    </form>
</div>