@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Telegram Feed</a>
        </div>

        <div class="nav navbar-nav pull-right">
            @if (SignInManager.IsSignedIn(User))
            {
                <form method="post" asp-controller="Account" asp-action="Logout">
                    @User.Identity.Name
                    <input type="submit" value="Sign Out" class="navbar-btn btn btn-danger" />
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-xs btn-primary navbar-btn">Sign In</a>
                <a asp-controller="Account" asp-action="Register" class="btn btn-xs btn-success navbar-btn">Sign Up</a>
            }
        </div>
    </div>
</nav>