<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    @RenderSection("Styles", false)
</head>
<body>
    @RenderSection("Header", false)
    <div>
        @RenderBody()
    </div>
    <script src="~/vendor.min.js"></script>
</body>
</html>